
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (categoryState | async).categories[id].name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Category <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditCategory()">Edit Category</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteCategory()">Delete Category</a></li>
      </ul>
    </div>
  </div>
</div>


